.recipes-container
  - if @pages > 0
    %ul
      - @recipes.each  do |recipe|
        %li
          = image_tag(recipe.thumb)
          .details
            = link_to recipe_path(id:recipe.id) do
              %h3
                = recipe.name
                %small= "#{recipe.cuisine} cuisine"
              %p= recipe.ingredients.join(", ")
              %p More details
    .page-links
      = link_to "Previous page", recipes_path(page: @page - 1, ingredients: @ingredients) unless @page <= 1
      = "Page #{@page} of #{@pages}"
      = link_to "Next page", recipes_path(page: @page + 1, ingredients: @ingredients) unless @page >= @pages


    %br
    %br
    %br
    %br

  - else

    %h1 No recipes found
    %h3 Sorry!
