%div.flip-container
  %div.flipper.card{style: "background: linear-gradient(rgba(50,50,50,0.40), rgba(50,50,50,0.40)), url('#{item.food.image_url}') no-repeat center center; background-size: cover"}
    %div.front
      %div.food_expiry{style: "background: rgba(#{food_expiry_colour(item.expires_in)}, 0.85)"}
        = item.expires_in
        d
      %div.food_title
        %span= item.food.name
    %div.back
      %div.one_button
        = link_to recipes_url(ingredients: [item.food]) do
          =image_tag("recipe.png", :class => "recipe_button")
      %div.other_buttons
        - unless item.expired?
          = link_to donate_item_path(item) do
            =image_tag("donate.png", :class => "donate_button")
        = link_to use_item_path(item) do
          =image_tag("done.png", :class => "done_button")
        = link_to dispose_item_path(item) do
          =image_tag("trash.png", :class => "trash_button")
