%div.flip-container
  %div.flipper.card{style: "background: linear-gradient(rgba(#{food_expiry_colour(item.expires_in)}, 0.55), rgba(#{food_expiry_colour(item.expires_in)}, 0.55)), url('#{item.food.image_url || 'http://suckhoevang.net/wp-content/uploads/che_do_an_theo_nhom_mau.jpg'}') no-repeat center center; background-size: cover"}
    %div.front
      %div.food_expiry
        = item.expires_in
        d
      %div.food_title= item.food.name
    %div.back
      %div.one_button
        %img.recipe_button{:src=>"/assets/recipe.png"}
      %div.other_buttons
        %img.donate_button{:src=>"/assets/donate.png"}
        %img.done_button{:src=>"/assets/done.png"}
        %img.trash_button{:src=>"/assets/trash.png"}
