.foodbanks-container
  %div.foodbanks
    %div.number
      %h2= "There are #{@foodbanks.count} foodbanks within #{@distance} miles of your #{@home ? 'home' : 'location'}"

  %div.banks
    %ul.banklist
      - @foodbanks.each do |foodbank|
        %li.bank
          = link_to(foodbank_path( id: foodbank.id, loc: @loc)) do
            %div
              %h3= "#{foodbank.name}, #{foodbank.county}"
              %small
                = foodbank.company
              = foodbank.distance_to(@loc).round(1)
              miles from your
              = @home ? 'home' : 'location'
              |
              %small Click for more details
      %li#other-search= link_to "Not at home? Click here to find your location by GPS.", "#", id: "gps-link"


    %div.donating
      You are donating:
      %ul
        - current_user.items.donating.each do |item|
          %li= item.food.name

      = link_to "Already donated?", donated_items_path, class: "green-button"
