.foodbank-container
  %h1= "#{@foodbank.name}, #{@foodbank.county}"
  %h3= @foodbank.company

  = "This will cost you #{@foodbank.uber_price(@loc)[0].estimate} by #{@foodbank.uber_price(@loc)[0].display_name} from #{@home ? 'home' : 'here'}"
  %br
  %br
  .map
    %iframe{:allowfullscreen => "", :frameborder => "0", :height => "450", :src => "https://www.google.com/maps/embed/v1/directions?origin=#{current_user.postcode}&destination=#{@foodbank.latitude},#{@foodbank.longitude}&mode=driving&key=AIzaSyCSh_Tr6xVHNaK53smr-t_oeIPpxW3ohNo", :style => "border:0", :width => "600"}
