!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Workspace
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    %script{:async => "", :defer => "", :src => "https://apis.google.com/js/platform.js"}
      {lang: 'en-GB'}
    %link{:href => "https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css", :rel => "stylesheet"}
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    %link{:href => "http://fonts.googleapis.com/css?family=Lato:300,400,700", :rel => "stylesheet", :type => "text/css"}/
    = csrf_meta_tags
  %body
    -if controller_name+action_name != "registrationsnew" && controller_name+action_name != "sessionsnew"
      %div.notice= notice
      %div.alert= alert
      %div#header
        %img#logo{:src=>"/assets/logo.png"}
        %div#menu
          =link_to new_item_path, :class => "no-dec" do
            %div.plus_link +
          =link_to '#' do
            %img.recipe_link{:src=>"/assets/recipe.png"}
          =link_to '#' do
            %img.donate_link{:src=>"/assets/donate.png"}
          -if user_signed_in?
            =link_to edit_user_registration_path do
              %img.profile_link{:src=>current_user.avatar_url}
    %div#footer Füd TM C Mayank and co.
    = yield
